<?xml version="1.0" encoding="utf-8" ?>
<project name="BuildSettings">
	<!-- Project UppercuT - http://uppercut.googlecode.com -->
	<!-- Learn how to edit this file at http://uppercut.pbwiki.com -->

	<!-- PROJECT VARIABLES -->
	<property name="project.name" value="DropkicK" overwrite="false" />
	<property name="path_to_solution" value="." overwrite="false" />
	<property name="repository.path" value="http://dropkick.googlecode.com/svn/" overwrite="false" />
	<property name="company.name" value="ACuriousMind Software and Fervent Coder Software" overwrite="false" />
	<property name="dirs.db.project" value="db" overwrite="false" />
	<property name="dirs.report.project" value="__REPORT_PROJECT_FOLDER__" overwrite="false" />

	<!-- FRAMEWORKS -->
	<!-- microsoft.framework: net-1.1,net-2.0,net-3.5  -->
	<property name="microsoft.framework" value="net-3.5" overwrite="false" />
	<!-- microsoft.framework: net-1.1,net-2.0,net-3.5  -->
	<!-- language.short: vb,cs -->
	<property name="language.short" value="cs" overwrite="false" />
	<!-- test.framework: mbunit, nunit -->
	<property name="test.framework" value="mbunit" overwrite="false" />
	<!-- source_control_type: svn, vss, tfs, vault, git -->
	<property name="source_control_type" value="svn" overwrite="false" />

	<!-- ASSEMBLY VARIABLES -->
	<property name="version.major" value="0" overwrite="false" />
	<property name="version.minor" value="0" overwrite="false" />
	<!-- partially trusted callers doesn't set correctly with assembly generator - Leave false for now-->
	<property name="allow.partially_trusted_callers" value="true" overwrite="false" />

	<!-- EXTERNAL TOOLS -->
	<!-- To not use the tool, change to a location that doesn't exist -->
	<property name="app.ncover" value="..\..\lib\tools\NCover\NCover.Console.exe.NO" overwrite="false" />
	<property name="app.ncover_explorer" value="..\..\lib\tools\NCover\NCoverExplorer.Console.exe.NO" overwrite="false" />
	<property name="app.ncover.tester" value="..\..\lib\references\MbUnit\MbUnit.Cons.exe.NO" overwrite="false" />
	<!--<property name="app.ncover.tester" value="..\..\lib\references\NUnit\nunit-console.exe" overwrite="false" />-->
  <property name="app.ndepend" value="C:\Program Files\NDepend\NDepend.Console.exe.NO" overwrite="false" />
</project>